@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap');

body{
    font-family: 'Luckiest Guy', sans-serif ;
    font-size: 1.3em;
}
.text-title{
    font-family: 'Luckiest Guy', ;
    font-size: 7em;
    color: #fff;
}
.bg-title{
    
}